<div id="menu-container" class="full-width-container">
    <nav class="menu-bar content-container">
    <h4>Brand Guide</h4>
      <ul id="menuList">
        <li>
          <a   href="index.html">Introduction</a>
        </li>
        <li>
            <a   href="colors.html">Colors</a>
          </li>
          <li>
            <a   href="typography.html">Typography</a>
          </li>
          <li>
            <a   href="logo.html">Logo</a>
          </li>
      </ul>
      <h4>CSS Methodology</h4>
      <ul id="menuList">
        <li>
          <a   href="code-style.html">Code conventions</a>
        </li>
        <li>
            <a   href="naming-style.html">Class naming conventions</a>
          </li>
      </ul>
      <h4>Component Library</h4>
      <ul id="menuList">
        <li>
          <a   href="buttons.html">Buttons</a>
        </li>
        <li>
            <a   href="menu-items.html">Menu Items</a>
          </li>
          <li>
            <a   href="menu-bar.html">The menu bar</a>
          </li>
      </ul>

      <h4>Page Layout</h4>
      <ul id="menuList">
        <li>
          <a   href="welcome-screen.html">Welcome screen</a>
        </li>
        <li>
            <a   href="dish-screen.html">Dish screen</a>
          </li>
          <li>
            <a   href="menu-screen.html">Menu screen</a>
          </li>
      </ul>
    </nav>
  </div>
  