<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:500|Ubuntu&display=swap" rel="stylesheet"> 
    <title>What to eat - Styleguide</title>
</head>
<body>
    <%= require('../node_modules/html-loader!./partials/_header.html') %>
   
     <main class="content">
        <div class="menubar">
            <%= require('../node_modules/html-loader!./partials/_menu.html') %>
         </div>
         <div class="main-content">
            <section class="page-layout">
            <h1>Dish Screen Layout</h1>
            <p>The dish screen is divided into several segments. First of all, the total with is split into fifths. Since the side menu on the right, containing all the relevant
                menu information consists out of 2 fifths, the left and detailed part is a bit larger, with 3 fifths.
            </p>
            <h2>Food Information</h2>
            <p>The h1 heading is used to provide the title of the selected dish, centered, with a total height of 1 fifth of the screen height.</p>
            <p>The heroimage on the top side of the content makes um 2 fifth of the screen, containing also a smaller menu bar. The information below
                contains allergens as well as the price, and make up exactly 1 fifth of the total screen size.
            </p>

            <h2>The Menu Bar</h2>
            <p>The menu bar consits out of three 50x50px icons, which are:</p>
            <ul>
                <li>A back button which takes you to whatever screen you visited before</li>
                <li>The shopping cart, which takes you to your current order</li>
                <li>The logo, which takes you to the welcome and starting page</li>
            </ul>
            <p>The icons are all equally spread out via justify-content: space-between;</p>
            <p>The total height of the menu bar, as well as the height of the heading of the side menu is 90px!</p>
                <div class="page-layout__image-wrapper">
                    <img src="./img/dishscreen.jpg" alt="The welcome screen of what to eat">
                </div>
        </section>
         </div>
     </main>
     <%= require('../node_modules/html-loader!./partials/_footer.html') %>
</body>
</html>